/* also import any font style and use  */

body{
    font-family: poppins;
    background-color: #f5f5f5 ;
}

.profile{
    height: 35px;
    width: 35px;
    border-radius: 20px;
}

:root{
    --offcanvas-width:270px;
    --topnavbar:56px;
}

.sidebar-nav{
    width: var(--offcanvas-width) !important;
}

@media(min-width: 992px){

    .offcanvas-backdrop{
        display: none !important;
    }

    .sidebar-nav{
        transform: none !important;
        visibility: visible !important;
        top:var(--topnavbar) !important;
    }
    main{
        margin-left: var(--offcanvas-width);
     }
}

.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}
.sidebar-link .right-icon{
    transition: 0.4s;
}

.sidebar-link[aria-expanded="true"] .right-icon1{
    transform: rotate(180deg);
}
.sidebar-link .right-icon1{
    transition: 0.4s;
}

.sidebar-link[aria-expanded="true"] .right-icon2{
    transform: rotate(180deg);
}
.sidebar-link .right-icon2{
    transition: 0.4s;
}

.sidebar-link[aria-expanded="true"] .right-icon3{
    transform: rotate(180deg);
}
.sidebar-link .right-icon3{
    transition: 0.4s;
}

.rem{
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.Forgot{
    text-decoration: none;
}

@media(max-width:480px){
    .dashboard-counts .card{
        margin-bottom: 20px;
    }
    .dashboard-tabs .nav-tabs .nav-link{
        padding: 5px;
        font-size: 13px;
    }
}

